<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex; justify-content: space-evenly; padding: 20px;">
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'create' %}">Добавть книгу</a>
    </nav>



    <div class="container" style="margin-inline: auto; max-width: 800px">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>